{% extends "base.html" %}

{% block content %}
    <h1 style = "font-size: 80px;"><u><i><b>Welcome to the Foodie Fun Website</b></i></u></h1>
    <p>[WARNING]<br>THE COLOUR SCHEME IS VERY BAD AND NOT MUCH THOUGHT WAS PUT INTO IT, AS IT IS UNIMPORTANT<br>(for this website) <br><br>Also, it is not the best as I avoided AI apart from the food recipie submission.</p>
    <img src="{{ url_for('static', filename='BURGER.jpeg') }}" alt="Burger" style="width: 100%; max-width: 600px;">
{% endblock %}